span.type {
	font-variant: small-caps;
	font-size: large;
}

span.keyword {
	font-weight: bold;
}

span.field {
	text-decoration: underline dotted;
}

span.variable {
	font-variant: small-caps;
	font-size: large;
}

span.function {
	font-style: italic;
}

span.operator {
	text-decoration: underline dotted;
	font-weight: bold;
}

span.conditional-operator {
	text-decoration: underline dotted;
	color: #622;
}

span.literal {
	color: #622;
}

span.comment-inline, span.block-comment-inline {
	color: #226;
	font-size: small;
}

ul:not(.syntax-root) {
	list-style: disc;
}

ul.syntax-root > li > span.comment-global {
	color: black;
	font-size: 1.5em;
	border-bottom: 1px solid black;
}

ul.syntax-root > li {
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.syntax-root {
	list-style: none;
}
